Source: qstardict
Version: 0.13.1-7
Section: x11
Priority: optional
Maintainer: SR <sbir@list.ru>
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.4.0), libglib2.0-dev, zlib1g-dev, libx11-dev, debhelper-maemo-package-icons (>= 0.0.2), maemo-optify | maemo-version (< 5.0)
Standards-Version: 3.8.0

Package: qstardict
Section: user/office
Architecture: any
Depends: ${shlibs:Depends}
Suggests: festival
XB-Maemo-Display-Name: QStarDict
Description: International dictionary written using Qt4
 QStarDict is a modern international dictionary written using Qt4.
 .
 Main features
  * Full support of StarDict dictionaries
  * Fuzzy search
  * Support for hyper links in translations
  * Working from the system tray
  * Scanning mouse selection and showing pop-up windows with translation of
    selected words
  * Translations reformatting
  * Pronouncing of the translated words
  * Plugins support

